body{
    background-image: linear-gradient(to top right, orange, black, brown, darkGreen, darkGray);
}
.email{
    font-size: 2rem;
    margin: 2rem;
}
.bigger{
   height: 100%; 
}
.big{
    ##width: 60%;
    height: 130%;
    margin: auto;
    }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.sqContainer{
    width:100%;

}
.lilPixels{
    height:5rem;
    width:100%;
}

#notice{
    display: inline;
    color: red;

}
.quote{
font-size: 13rem;
transform: translateY(-135rem)
}
